<?xml version="1.0" encoding="utf-8" ?>

  <!--<assembly name="CrudRepository" />
  <namespace name="CrudRepository" />-->
<unity>
  <typeAliases>
    <typeAlias alias="int" type="System.Int32, mscorlib" />
    <typeAlias alias="singleton"  type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="IStudentRepository" type="CF.Repo.IStudentRepository, CF.Repo" />
    <typeAlias alias="IDepartementRepository" type="CF.Repo.IDepartementRepository, CF.Repo" />
    <typeAlias alias="IStudentService" type="CF.Service.IStudentService, CF.Service" />
    <typeAlias alias="IUnitOfWork" type="CF.Repo.Common.IUnitOfWork, CF.Repo" />
  </typeAliases>
  <containers>
    <container>
      <types>
        <type type="IDepartementRepository" mapTo="CF.Repo.DepartementRepository, CF.Repo">
          <lifetime type="singleton" />
        </type>
        <type type="IUnitOfWork" mapTo="CF.Repo.Common.UnitOfWork, CF.Repo">
          <lifetime type="singleton" />
        </type>
        <type type="IStudentService" mapTo="CF.Service.StudentService, CF.Service">
          <lifetime type="singleton" />
          <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
            <constructor>
              <param name="UnitOfWork" parameterType="IUnitOfWork"/>
              <param name="repository" parameterType="IStudentRepository"/>
            </constructor>
          </typeConfig>
        </type>
      </types>
    </container>
  </containers>
</unity>

